<br/>
<div class="container">
<div class="card" style="width: 18rem;">
  <div class="card-header">
    <h5>Edit Your Account:</h5>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <p class="card-text">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </p>

      <p class="card-text">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <p class="card-text">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </p>

      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>

      <p class="card-text">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </p>

      <p class="card-text">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </p>

      <p class="card-text">
        <%= f.submit "Update", class: "btn btn-outline-success" %>
      </p>
    <% end %>
  </div>
</div>

<h5>Cancel my account</h5>

<%= button_to "Cancel my account", registration_path(resource_name), method: :delete, class: "btn btn-outline-danger", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" } %>
<br/>
<%= link_to "Back", :back, class: "btn btn-outline-secondary" %>
</div>
</div>