<div class="container">
 <div class="card" style="width: 18rem;">
  <div class="card-header">
   Your Land's Data
  </div>
  <div class="card-body">
     <p class="card-text">
    <strong>Name:</strong>
    <%= field.name %>
    </p>

  <p class="card-text">
    <strong>Location name:</strong>
    <%= field.location_name %>
  </p>

  <p class="card-text">
    <strong>Location latitude:</strong>
    <%= field.location_latitude %>
  </p>

  <p class="card-text">
    <strong>Location longitude:</strong>
    <%= field.location_longitude %>
  </p>

  <p class="card-text">
    <strong>Current crop:</strong>
    <%= field.current_crop %>
  </p>

  <p class="card-text">
    <strong>Sowing date:</strong>
    <%= field.sowing_date %>
  </p>

  <p class="card-text">
    <strong>Harvest date:</strong>
    <%= field.harvest_date %>
  </p>

  <p class="card-text">
    <strong>Size:</strong>
    <%= field.size %>
  </p>

  <p class="card-text">
    <strong>Fertilizer:</strong>
    <%= field.fertilizer %>
  </p>

  <p class="card-text">
    <strong>Fertilizer type:</strong>
    <%= field.fertilizer_type %>
  </p>

  <p class="card-text">
    <strong>Fertilizer usage:</strong>
    <%= field.fertilizer_usage %>
  </p>

  <p class="card-text">
    <strong>Leased:</strong>
    <%= field.leased %>
  </p>

  <p class="card-text">
    <strong>Leasing end date:</strong>
    <%= field.leasing_end_date %>
  </p>
  </div>
 </div>
</div>
