<div id="<%= dom_id field %>">
  <p>
    <strong>Name:</strong>
    <%= field.name %>
  </p>

  <p>
    <strong>Location name:</strong>
    <%= field.location_name %>
  </p>

  <p>
    <strong>Location latitude:</strong>
    <%= field.location_latitude %>
  </p>

  <p>
    <strong>Location longitude:</strong>
    <%= field.location_longitude %>
  </p>

  <p>
    <strong>Current crop:</strong>
    <%= field.current_crop %>
  </p>

  <p>
    <strong>Sowing date:</strong>
    <%= field.sowing_date %>
  </p>

  <p>
    <strong>Harvest date:</strong>
    <%= field.harvest_date %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= field.size %>
  </p>

  <p>
    <strong>Fertilizer:</strong>
    <%= field.fertilizer %>
  </p>

  <p>
    <strong>Fertilizer type:</strong>
    <%= field.fertilizer_type %>
  </p>

  <p>
    <strong>Fertilizer usage:</strong>
    <%= field.fertilizer_usage %>
  </p>

  <p>
    <strong>Leased:</strong>
    <%= field.leased %>
  </p>

  <p>
    <strong>Leasing end date:</strong>
    <%= field.leasing_end_date %>
  </p>

</div>
