<%= form_with(model: field) do |form| %>
  <% if field.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(field.errors.count, "error") %> prohibited this field from being saved:</h2>

      <ul>
        <% field.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :location_name, style: "display: block" %>
    <%= form.text_field :location_name %>
  </div>

  <div>
    <%= form.label :location_latitude, style: "display: block" %>
    <%= form.text_field :location_latitude %>
  </div>

  <div>
    <%= form.label :location_longitude, style: "display: block" %>
    <%= form.text_field :location_longitude %>
  </div>

  <div>
    <%= form.label :current_crop, style: "display: block" %>
    <%= form.text_field :current_crop %>
  </div>

  <div>
    <%= form.label :sowing_date, style: "display: block" %>
    <%= form.date_field :sowing_date %>
  </div>

  <div>
    <%= form.label :harvest_date, style: "display: block" %>
    <%= form.date_field :harvest_date %>
  </div>

  <div>
    <%= form.label :size, style: "display: block" %>
    <%= form.text_field :size %>
  </div>

  <div>
    <%= form.label :fertilizer, style: "display: block" %>
    <%= form.check_box :fertilizer %>
  </div>

  <div>
    <%= form.label :fertilizer_type, style: "display: block" %>
    <%= form.text_field :fertilizer_type %>
  </div>

  <div>
    <%= form.label :fertilizer_usage, style: "display: block" %>
    <%= form.text_area :fertilizer_usage %>
  </div>

  <div>
    <%= form.label :leased, style: "display: block" %>
    <%= form.check_box :leased %>
  </div>

  <div>
    <%= form.label :leasing_end_date, style: "display: block" %>
    <%= form.date_field :leasing_end_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
