<div class="container" data-controller="leaflet" style="margin-top: 20px;">
  <div style="display: flex; justify-content: space-between;">
    <!-- Mező információi -->
    <div style="flex: 1; margin-right: 20px;">
      <%= render @field %>
    </div>

    <!-- Térkép -->
    <div style="flex: 1;">
      <div id="map" style="height: 500px; width: 100%; z-index: -10;"></div>
    </div>
  </div>
  
  <div data-leaflet-target="latitude" data-latitude="<%= @field.location_latitude %>"></div>
  <div data-leaflet-target="longitude" data-longitude="<%= @field.location_longitude %>"></div>
  
  <div data-leaflet-target="name" data-name="<%= @field.name %>"></div>
  
  <br>

  <!-- Gombok -->
  <div>
    <%= link_to "Back to fields", fields_path, class: "btn btn-outline-primary" %>
    <%= link_to "Edit this field", edit_field_path(@field), class: "btn btn-outline-primary" %>
    <%= button_to "Destroy this field", @field, class: "btn btn-outline-danger", method: :delete %>
  </div>

  <br>
  
  <!-- Jegyzetek -->
  <%= render 'notes/form', noteable: @noteable %>
  <% @notes.each do |note| %>
    <%= render 'notes/note', noteable: @noteable, note: note %>
  <% end %>
</div>