<div class="container">
<div class="card" style="width: 18rem;">
  <div class="card-header">
   Your Cow's Data
  </div>
  <div class="card-body">
    <p class="card-text-center  ">
    <strong>Identificationnumber:</strong>
    <%= cow.identificationnumber %>
    </p>
    <p class="card-text">
    <strong>Breed:</strong>
    <%= cow.breed %>
    </p>
    <p class="card-text">
    <strong>Lactationstatus:</strong>
    <%= cow.lactationstatus %>
    </p>
    <p class="card-text">
    <strong>Lastcalvingdate:</strong>
    <%= cow.lastcalvingdate %>
    </p>
    <p class="card-text">
    <strong>Pregnancystatus:</strong>
    <%= cow.pregnancystatus %>
    </p>
    <p class="card-text">
    <strong>Fathersementype:</strong>
    <%= cow.fathersementype %>
    </p>
    <p class="card-text">
    <strong>Approxcalving:</strong>
    <%= cow.approxcalving %>
    </p>
  </div>
</div>
</div>