<div id="<%= dom_id cow %>">
  <p>
    <strong>Identificationnumber:</strong>
    <%= cow.identificationnumber %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= cow.breed %>
  </p>

  <p>
    <strong>Lactationstatus:</strong>
    <%= cow.lactationstatus %>
  </p>

  <p>
    <strong>Lastcalvingdate:</strong>
    <%= cow.lastcalvingdate %>
  </p>

  <p>
    <strong>Pregnancystatus:</strong>
    <%= cow.pregnancystatus %>
  </p>

  <p>
    <strong>Fathersementype:</strong>
    <%= cow.fathersementype %>
  </p>

  <p>
    <strong>Approxcalving:</strong>
    <%= cow.approxcalving %>
  </p>

</div>
