<%= form_with(model: cow) do |form| %>
  <% if cow.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cow.errors.count, "error") %> prohibited this cow from being saved:</h2>

      <ul>
        <% cow.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card" style="width: 18rem;">
  <div class="card-header">
  <h5>Add your cow's data:</h5>
  </div>
  <div class="card-body">
    <p class="card-text">
    <%= form.label :identificationnumber, style: "display: block" %>
    <%= form.number_field :identificationnumber %>
    </p>
    <p class="card-text">
    <%= form.label :breed, style: "display: block" %>
    <%= form.text_field :breed %>
    </p>
    <p class="card-text">
    <%= form.label :lactationstatus, style: "display: block" %>
    <%= form.check_box :lactationstatus %>
    </p>
    <p class="card-text">
    <%= form.label :lastcalvingdate, style: "display: block" %>
    <%= form.date_field :lastcalvingdate %>
    </p>
    <p class="card-text">
    <%= form.label :pregnancystatus, style: "display: block" %>
    <%= form.check_box :pregnancystatus %>
    </p>
    <% if cow.pregnancystatus %>
    <p class="card-text">
    <%= form.label :fathersementype, style: "display: block" %>
    <%= form.text_field :fathersementype %>
    </p>
    <p class="card-text">
    <%= form.label :approxcalving, style: "display: block" %>
    <%= form.date_field :approxcalving %>
    </p>
    <% end %>
    <p class="card-text">
       <%= form.submit  class: "btn btn-outline-success" %>
    </p>
  </div>
  </div>
<% end %>
