<%if current_user %>
<nav class="navbar navbar-light navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to 'FarmBook', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About Us', about_path, class:"nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Your Farm
          </a>
          <ul class="dropdown-menu">
    <li><%= link_to "Cows", cows_path, class: "dropdown-item" %></li>
    <li><%= link_to "Lands", fields_path, class: "dropdown-item" %></li>
  </ul>
        </li>
      </ul>
     <%= render 'user/session_manager' %>
    </div>
  </div>
</nav>
<% else %>
<nav class="navbar navbar-light navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to 'FarmBook', root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About Us', about_path, class:"nav-link" %>
        </li>
      </ul>
     <%= render 'user/session_manager' %>
    </div>
  </div>
</nav>
<% end %>